
a,.tp-caption a.btn:hover {
	color: #242424;
}
.top-nav-collapse {
	background: #fff;
}

@media (max-width: 850px) {
  .navbar, .navbar-nav {
		background: rgba(233, 233, 233, 0.726) !important;
	}

	.navbar-nav a {
		color: rgb(88, 88, 88) !important;
	}
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #B4B4B4;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #fff;
}

.widget-avatar .avatar:hover {
    border: 5px solid #fff;
}

.bg-skin {
	background: #fff;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #fff;
}

footer {
    background-color: #242424;
}

.btn-skin {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
